*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

header,
main,
footer{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    
}