*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    background-color: #e5e5e5;
}

header,
main,
footer{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #ffffff;
}

/*--header--*/

.content-header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

ul{
    display: flex;
    font-size: 1.2rem;
    width: 18rem;
    justify-content: space-between;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: #000;
    transition: all ease-in-out 0.4s;
}

li a:hover{
    font-weight: bold;
    color: #1F3F68;
}

.content-portada{
    background-image: url(./img/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    position: relative;
}

.vector-bkf-port{
    position: absolute;
    width: 100%;
    height: 100%;
}

.elipse{
    position: absolute;
}

.elip-1{
    top: 1.25rem;
    left: 9.375rem;
}

.elip-2{
    top: 6.25rem;
    left: 21.25rem;
}

.elip-3{
    top: 12.5rem;
    left: 37.5rem;
}

.elip-4{
    top: 5rem;
    left: 32.5rem;
}

.content-bkg-port{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}

.cont-inf-dtl{
    width: 48.75rem;
    height: 9.38rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cont-inf-dtl h1{
    font-size: 3rem;
}

.cont-inf-dtl p{
    font-size: 1.1rem;
}

/*--search--*/

.content-search{
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
    padding: 2rem 0;
    
}

.content-search .search{
    padding: 1rem 0;
    width: 100%;
}

/*--popular---*/

.content-popular{
    padding-top: 3rem;
}

.content-popular h2{
    color: #356EAD;
    font-size: 1.25rem;
    padding-bottom: 1.8rem;
}

.cards-popular{
    width: 100%;
    display: flex;
}

.card-inf-ppl{
    width: 41%;
    
    margin-right: 0.5rem;
}

.card-inf-ppl-1{
    
    width: 59%;
    
}

.card-inf-ppl-1 img{
    width: 100%;
    height: 100%;
}


.card-inf-ppl h2{
    font-size: 2.5rem;
    color: #1F3F68;
    padding-bottom: 0.8rem;
    
}

.card-inf-ppl p{
    font-size: 1.2rem;
    color: #000000b5;
    line-height: 1.75rem;
    padding-bottom: 2rem;
    margin-right: 1rem;
}

.blq-crd-info-pp h3{
    font-size: 0.875rem;
    color: #1F3F68;
}

.blq-crd-info-pp h4{
    font-size: 0.875rem;
    color: #1f3f68aa;
}

.blq-crd-info-pp-1{
    display: flex;
    margin-right: 1rem;
}

.cont-share-info-pop{
    display: flex;
    padding: 0.5rem 0rem;
    justify-content: space-between;
}

.card-inf-ppl img{
    width: 100%;
}

/*---cards- q2--*/

.cards-popular-1{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.blq-info-dt-pp{
    margin: 0.5rem;
}

.card-inf-ppl-2 img{
    width: 100%;
}

.card-inf-ppl-4 h2{
    font-size: 1.375rem;
    color: #1F3F68;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}

.card-inf-ppl-4 p{
    font-size: 1rem;
    line-height: 1.4rem;
    padding-bottom: 1.5rem;
}



/*---anthony---*/

.Caja-article{
    padding-top: 2rem;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
}

.Titulo{
    color: var(--blue_03, #356EAD);
    font-family: Helvetica;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-bottom: 30px;
}

.caja1{
    width: 100%;
    display: flex;
    padding-bottom: 1.5rem;
}

.content-temp-1{
    flex: 40%;
    display: flex;
    justify-content: center;
}

.content-temp-2{
    flex: 60%;
    display: flex;
    justify-content: center;
}

.caja1 img{
    padding-right: 1.3rem;
    
}

.letras h3{
    margin-top: 3px;
    color: var(--Blue_01, #1F3F68);
    font-family: Helvetica;
}

.letras p{
    margin-top: 0.65rem;
    color: rgba(0, 0, 0, 0.60);
    font-family: Arial;
}

.letras h5{
    margin-top: 2.81rem;
    font-size: 0.87rem;
    color: var(--Blue_01, #1F3F68);
    font-family: Helvetica;
    
}

.letras h6{
    margin-top: 0.62rem;
    font-size: 0.81rem;
    color: rgba(0, 0, 0, 0.40);
    font-family: Arial;
}

/*----footer---*/

footer{
    background-color: #316099;
    color: #fff;
}

.content-footer{
    max-width: 941px;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

.card-gen{
    display: flex;
    width: 100%;
}

.card-inf-tdl{
    flex: 49%;
}

.card-inf-tdl h2{
    font-size: 2.25rem;
    padding-bottom: 1.3rem;
}

.card-inf-tdl p{
    font-size: 1rem;
    padding-bottom: 2rem;
}

.card-inf-more{
    flex: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-inf-more a{
    text-decoration: none;
    color: #fff;
    padding: 1.2rem 3rem;
    background-color: #5a98d0;
    transition: all ease-in 0.2s;
}

.card-inf-more a:hover{
    border: rgb(4, 0, 251) solid 3px;
}

.card-links-page{
    display: flex;
}

.card-links-page p{
    font-size: 1rem;
    padding-bottom: 1.1rem;
}


.content-link-gr1{
    display: flex;
    width: 66%;
}

.content-g1-lk{
    flex: 50%;
    margin: 2rem;
}

.subtitulo-link{
    padding-bottom: 1.1rem;
}

.ctn-titulo-sect-lk{
    display: flex;
    
    align-items: center;
    padding-bottom: 1rem;
}

.ctn-titulo-sect-lk h2{
    padding-left: 1rem;
}

.content-link-gr2{
    width: 33%;
    padding: 2rem;
}

.info-copy h2{
    font-size: 1rem;
    padding-left: 2rem;
    color: #ffffff7d;
}




@media screen and (max-width:424px) {
    html{
        font-size: 8px;
    }

    .card-gen{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .content-link-gr1{
        flex-direction: column;
    }

    .card-links-page{
        flex-direction: column;
    }

    .caja1{
        flex-direction: column;
    }

    .content-temp-1{
        padding-bottom: 2rem;
    }

    .cards-popular-1{
        flex-direction: column;
    }

    .cards-popular{
        flex-direction: column-reverse;
    }

    .card-inf-ppl{
        width: 100%;
    }

    .card-inf-ppl-1{
        width: 100%;
    }

    .blq-crd-info-pp-1 a img{
        width: 2rem;
    }

    .blq-crd-info-pp a img{
        width: 2rem;
    }

}

@media screen and (min-width:425px) {
    html{
        font-size: 10px;
    }

    .card-gen{
        flex-direction: row;
        width: 94%;
        margin: 0 auto;
    }

    .content-link-gr1{
        flex-direction: column;
    }

    .card-links-page{
        flex-direction: column;
    }

    .caja1{
        flex-direction: column;
    }

    .content-temp-1{
        flex: 100%;
    }
    
    .content-temp-2{
        flex: 100%;
    }
    
    .content-temp-1{
        padding-bottom: 2rem;
    }

    .blq-crd-info-pp-1 a img{
        width: 2rem;
    }

    .blq-crd-info-pp a img{
        width: 2rem;
    }


    .cards-popular-1{
        flex-direction: column;
    }

    .cards-popular{
        flex-direction: column-reverse;
    }

    .card-inf-ppl{
        width: 100%;
    }

    .card-inf-ppl-1{
        width: 100%;
    }

    .blq-crd-info-pp-1 a img{
        width: 2rem;
    }

    .blq-crd-info-pp a img{
        width: 2rem;
    }
}

@media screen and (min-width:830px) {
    html{
        font-size: 13px;
    }
    .card-gen{
        flex-direction: row;
        width: 94%;
        margin: 0 auto;
    }
    
    .content-link-gr1{
        flex-direction: row;
    }
    
    .caja1{
        flex-direction: row;
        
    }

    .content-temp-1{
        flex: 40%;
    }



    .cards-popular-1{
        flex-direction: row;
    }

    .cards-popular{
        flex-direction: row;
    }

    .card-inf-ppl{
        width: 60%;
    }

    .card-inf-ppl-1{
        width: 100%;
    }

    .blq-crd-info-pp-1 a img{
        width: 2rem;
    }

    .blq-crd-info-pp a img{
        width: 2rem;
    }

}

@media screen and (min-width:1200px) {
    html{
        font-size: 16px;
    }

    .card-gen{
        flex-direction: row;
        width: 94%;
    }

    .card-links-page{
        flex-direction: row;
    }
}