*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    background-color: #e5e5e5;
}

header,
main,
footer{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #ffffff;
}

/*--header--*/

.content-header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

ul{
    display: flex;
    font-size: 1.2rem;
    width: 18rem;
    justify-content: space-between;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: #000;
    transition: all ease-in-out 0.4s;
}

li a:hover{
    font-weight: bold;
    color: #1F3F68;
}

.content-portada{
    background-image: url(./img/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    position: relative;
}

.vector-bkf-port{
    position: absolute;
    width: 100%;
    height: 100%;
}

.elipse{
    position: absolute;
}

.elip-1{
    top: 1.25rem;
    left: 9.375rem;
}

.elip-2{
    top: 6.25rem;
    left: 21.25rem;
}

.elip-3{
    top: 12.5rem;
    left: 37.5rem;
}

.elip-4{
    top: 5rem;
    left: 32.5rem;
}

.content-bkg-port{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}

.cont-inf-dtl{
    width: 48.75rem;
    height: 9.38rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cont-inf-dtl h1{
    font-size: 3rem;
}

.cont-inf-dtl p{
    font-size: 1.1rem;
}

/*----footer---*/

footer{
    background-color: #316099;
    color: #fff;
}

.content-footer{
    max-width: 941px;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 6rem;
}

.card-gen{
    display: flex;
    width: 100%;
}

.card-inf-tdl{
    flex: 49%;
}

.card-inf-tdl h2{
    font-size: 2.25rem;
    padding-bottom: 1.3rem;
}

.card-inf-tdl p{
    font-size: 1rem;
    padding-bottom: 2rem;
}

.card-inf-more{
    flex: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-inf-more a{
    text-decoration: none;
    color: #fff;
    padding: 1.2rem 3rem;
    background-color: #5a98d0;
    transition: all ease-in 0.2s;
}

.card-inf-more a:hover{
    border: rgb(4, 0, 251) solid 3px;
}

.card-links-page{
    display: flex;
}

.card-links-page p{
    font-size: 1rem;
    padding-bottom: 1.1rem;
}


.content-link-gr1{
    display: flex;
    width: 66%;
}

.content-g1-lk{
    flex: 50%;
    margin: 2rem;
}

.subtitulo-link{
    padding-bottom: 1.1rem;
}

.ctn-titulo-sect-lk{
    display: flex;
    
    align-items: center;
    padding-bottom: 1rem;
}

.ctn-titulo-sect-lk h2{
    padding-left: 1rem;
}

.content-link-gr2{
    width: 33%;
    padding: 2rem;
}

.info-copy h2{
    font-size: 1rem;
    padding-left: 2rem;
    color: #ffffff7d;
}


@media screen and (max-width:424px) {
    html{
        font-size: 8px;
    }

    .card-gen{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .content-link-gr1{
        flex-direction: column;
    }

    .card-links-page{
        flex-direction: column;
    }
}

@media screen and (min-width:425px) {
    html{
        font-size: 10px;
    }

    .card-gen{
        flex-direction: row;
        width: 94%;
        margin: 0 auto;
    }

    .content-link-gr1{
        flex-direction: column;
    }

    .card-links-page{
        flex-direction: column;
    }
    
}

@media screen and (min-width:830px) {
    html{
        font-size: 13px;
    }
    .card-gen{
        flex-direction: row;
        width: 94%;
        margin: 0 auto;
    }
    
    .content-link-gr1{
        flex-direction: row;
    }
    
}

@media screen and (min-width:1200px) {
    html{
        font-size: 16px;
    }

    .card-gen{
        flex-direction: row;
        width: 94%;
    }

    

    .card-links-page{
        flex-direction: row;
    }
}